/scrapers/chromedriver.exe
/scrapers/.ipynb_checkpoints/*
/scrapers/debug.log
/.env/*
/venv/*
/debug.log
/scrapers/__pycache__/
/chromedriver.exe
/chromedriver_win32 (3).zip
/src/__pycache__/*
/src/scrapers/__pycache__/can_you_run_it.cpython-36.pyc
/src/scrapers/__pycache__/*
src/scrapers/__pycache__/can_you_run_it.cpython-36.pyc
