scrapers/chromedriver.exe
venv/*
src/__pycache__/
.env/*
chromedriver.exe
/src/chromedriver.exe
src/scrapers/__pycache__/can_you_run_it.cpython-36.pyc
src/scrapers/__pycache__/scrap_from_steam.cpython-36.pyc
src/scrapers/__pycache__/scrap_from_pcbenchmark.cpython-36.pyc
src/scrapers/debug.log
src/chromedriver.exe
src/scrapers/__pycache__/can_you_run_it.cpython-37.pyc